.product-image {
  list-style-type: none;
  width: 270px;
  height: 200px;
  padding: 20px;
  margin: 6px 6px;
  border: 1px solid #33b5e5;
  object-fit: contain;
  cursor: pointer;
}

.product-container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.select-input {
  width: 108px;
  margin-bottom: 8px;
}

.product-name {
  margin: 1rem 0;
}

.product-price {
  margin: 0;
  margin-bottom: 1rem;
}

.product-button {
  width: 108px;
  background: #33b6e5;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
